<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ing. Gabriela Argueta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/logo.jpeg" />
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div class="nav-brand">
                    <a href="index.htm">
                        <img src="/static/images/GA.jpeg" width="100" height="100" />
                    </a>

                </div>
                <div class="burger-menu-icon">
                    <div class="1"></div>
                    <div class="2"></div>
                    <div class="3"></div>
                    <div class="4"></div>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a>
                            <span class="caption nav-link"> Gabriela Ivette Argueta</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#personal" class="nav-link">Información Personal</a>
                    </li>
                    <li class="nav-item">
                        <a href="#formacion" class="nav-link">Formación Académica</a>
                    </li>
                    <li class="nav-item">
                        <a href="#Idiomas" class="nav-link">Idiomas</a>
                    </li>
                    <li class="nav-item">
                        <a href="#expeciencia" class="nav-link">Experiencia Laboral</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contacto" class="nav-link">Información de Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="inicio" class="inicio">
            <hr>
            <div>
                <div>
                    <h1>Gabriela Ivette Argueta Carias</h1>
                    <h4>Curriculum Vitae</h4>
                    <a href="index.htm">
                        <img src="/static/images/Perfil.jpeg" width="350" height="300" />
                    </a>
                    <p>Ingeniera de Negocios 2023</p>
                </div>
            </div>
        </section>

        <section id="personal" class="personal">
            <div>
                <hr>
                <div>
                    <h1>Información Personal</h1>
                    <p>Ingeniera Gabriela Ivette Argueta </p>
                    <p>Natalicio: 30 de Octubre del 2000</p>
                    <p>Salvadoreña</p>

                </div>

            </div>
            <section id="formacion" class="formacion">
                <div>
                    <hr>
                    <div>
                        <h2>Formación Académica</h2>
                        <h1>Escuela Primaria</h1>
                        <p>Colegio San Vicente de Paul, Sonsonate (2006-2010)</p>
                        <p>Colegio San Francisco de Asis, Sonsonate (2011-2016)</p>

                        <h1>Bachillerato</h1>
                        <p>Colegio San Francisco de Asis, Sonsonate (2017-2018)</p>

                        <h1>Estudio Superior</h1>
                        <p>Escuela Superior de Economía y Negocios (2019-2023)</p>
                    </div>
                    <hr />
                </div>
            </section>

            <section id="Idiomas" class="Idiomas">
                <div>
                    <div>
                        <h2>Idiomas</h2>
                    </div>
                    <div class="service-tiers">
                        <div class="tier-item">

                            <h1>-Español</h1>
                           

                            <h1>-Inglés</h1>
                        </div>
                    </div>
                </div>
                <hr>
            </section>

            <section id="experiencia" class="experiencia">
                <div class="container">
                    <div class="title-heading">
                        <h2>Experiencial Laboral</h2>
                    </div>

                    <div class="service-tiers">
                        <div class="tier-item">

                            <h1>-Administración de inventario</h1>
                            <p>Distribuidora Argueta (2018-2021)</p>

                            
                        </div>
                    </div>
                </div>
                <hr />
            </section>

            <div class="container">
                <section id="contacto" class="contacto">
                    <div class="title-heading">
                        <h2>Información de Contacto</h2>
                    </div>
                    <div class="contact">
                        <h1>-Número de Celular</h1>
                        <p>+503 79874520</p>

                        <h1>-Whatsapp</h1>
                        <p>+503 79874520</p>

                        <h1>-Correo Electrónico</h1>

                        <p>
                            <a href="mailto:gabrielaargueta2101@gmail.com"><i
                                    class="fas fa-envelope-open"></i>gabrielaargueta2101@gmail.com</a>
                        </p>
                        <p>
                            <a href="mailto:20191535@esen.edu.sv"><i
                                    class="fas fa-envelope-open"></i>20191535@esen.edu.sv</a>
                        </p>
                        <h1>-Facebook</h1>
                        <a href="https://www.facebook.com/gabriela.carias.98">Gabriela Argueta</a>

                        <h1>-Instagram</h1>
                        <a href="https://www.instagram.com/gabrielarg___/">@gabrielarg___</a>

                        <h1>-Twitter</h1>
                        <a href="https://twitter.com/gabrielarg___">@gabrielarg___</a>

                        <h1>GitHub:</h1>
                        <a href="https://github.com/gabrielaarg">@gabrielaarg</a>
                    </div>
            </div>

            <hr />
        </section>
        <footer>
            <div>
                <img src="/static/images/GA.jpeg" width="100" height="100" />
                <p>Gabriela Argueta Carias 2021, Todos los Derechos Reservados</p>
            </div>
            <div class="footer-nav">
                <a href="#inicio" class="footer-nav-link">Inicio</a>
                <a href="#personal" class="footer-nav-link">Información Personal</a>
                <a href="#formacion" class="footer-nav-link">Formación Académica</a>
                <a href="#Idiomas" class="footer-nav-link">Idiomas</a>
                <a href="#experiencia" class="footer-nav-link">Experiencia Laboral</a>
                <a href="#contacto" class="footer-nav-link">Información de Contacto</a>
            </div>
        </footer>
    </main>
    <script src="/static/main.js"></script>
</body>

</html>